/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@font-face {
    font-family: "IBM Plex Sans";
    src: url("/fonts/IBM-Plex-Sans-300.woff2") format("woff2");

    /* Super Modern Browsers */
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "IBM Plex Sans";
    src: url("/fonts/IBM-Plex-Sans-400.woff2") format("woff2");

    /* Super Modern Browsers */
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "IBM Plex Sans";
    src: url("/fonts/IBM-Plex-Sans-500.woff2") format("woff2");

    /* Super Modern Browsers */
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "IBM Plex Sans";
    src: url("/fonts/IBM-Plex-Sans-600.woff2") format("woff2");

    /* Super Modern Browsers */
    font-weight: 600;
    font-display: swap;
}


@font-face {
    font-family: "IBM Plex Mono";
    src: url("/fonts/IBM-Plex-Mono-300.woff2") format("woff2");

    /* Super Modern Browsers */
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("/fonts/IBM-Plex-Mono-600.woff2") format("woff2");

    /* Super Modern Browsers */
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("/fonts/IBM-Plex-Mono-normal.woff2") format("woff2");

    /* Super Modern Browsers */
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "IBM Plex Mono Regular";
    src: url("/fonts/IBM-Plex-Mono-Regular.woff2") format("woff2");

    /* Super Modern Browsers */
    font-weight: normal;
    font-display: swap;
}

:root {
  --color-gray-0:#FFFFFF;
  --color-gray-4:#F3F5F7;
  --color-gray-4-alpha-04: rgba(243, 245, 247, 0.4);
  --color-gray-8:#E7EBEF;
  --color-gray-12:#DCE2E8;
  --color-gray-16:#CFD8DF;
  --color-gray-74:#344658;
  --color-gray-78:#2C3B4B;
  --color-gray-82:#23303D;
  --color-gray-86:#1C262F;
  --color-gray-86-alpha-04: rgba(28, 38, 47, 0.4);
  --color-gray-90:#141C22;

  --ifm-color-primary:#0B89D0;
  --ifm-color-primary-dark:#0079BD;
  --ifm-color-primary-darker:#005C8F;
  --ifm-color-primary-darkest:#00324E;
  --ifm-color-primary-light:#1699E2;
  --ifm-color-primary-lighter:#35B6FF;
  --ifm-color-primary-lightest:#77CEFF;
  --ifm-code-font-size: 95%;
  --ifm-font-family-base:"IBM Plex Sans",system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --ifm-font-family-monospace:"IBM Plex Mono Regular", "IBM Plex Mono",SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --ifm-font-size-base:16px;
  --ifm-line-height-base:1.5; /* 150% */
  --ifm-font-weight-light:300;
  --ifm-font-weight-normal:400;
  --ifm-font-weight-semibold:500;
  --ifm-font-weight-bold:600;

  --ifm-heading-line-height:1.25;
  --ifm-h1-font-size:2.5rem; /* 40px */
  --ifm-h2-font-size:2rem; /* 32px */
  --ifm-h3-font-size:1.5rem; /* 24px */
  --ifm-h4-font-size:1.25rem; /* 20px */
  --ifm-h5-font-size:1rem; /* 16px */
  --ifm-h6-font-size:0.875rem; /* 14px */

  --ifm-heading-font-weight: var(--ifm-font-weight-semibold);

  --ifm-footer-padding-vertical:3rem;

  --ifm-container-width-xl: 1600px;
}

html[data-theme='dark'] {
    --ifm-link-color: #48ADF6;
    --ifm-heading-color: var(--color-gray-12);
    --ifm-navbar-background-color: var(--color-gray-82);
    --ifm-background-color: var(--color-gray-90);
    --ifm-hero-background-color: var(--ifm-background-color);
    --ifm-table-stripe-background: var(--color-gray-86-alpha-04);
    --ifm-pre-background: var(--color-gray-86);
    --ifm-code-background: var(--color-gray-86);
    --ifm-dropdown-background-color: var(--color-gray-78);
    --ifm-card-background-color: var(--color-gray-82);
    --ifm-footer-background-color: var(--color-gray-82);
    --collapse-button-bg-color-dark: var(--color-gray-86);
    --docsearch-searchbox-background: var(--color-gray-90) !important;
    --docsearch-searchbox-focus-background: var(--color-gray-86) !important;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.theme-doc-sidebar-container {
    background-color: var(--color-gray-4);
}

html[data-theme='dark'] .theme-doc-sidebar-container {
    background-color: var(--color-gray-86);
}

html[data-theme='dark'] .button.button--secondary.button--outline:not(.button--active):not(:hover) {
    background-color: var(--color-gray-86);
}

html[data-theme='dark'] .button.button--secondary {
    background-color: var(--color-gray-82);
}

.table-of-contents, .table-of-contents__left-border {
    margin-left: 0;
    padding-left: var(--ifm-toc-padding-horizontal);
     border-left: 1px solid var(--color-gray-16);
}

.table-of-contents__link {
    display: block;
    font-size: 0.75rem;
}

.table-of-contents__link--active {
    font-weight: var(--ifm-font-weight-bold);
    border-left: 0.125rem solid var(--color-gray-82);
    color: var(--ifm-font-color-base);
    margin-left: -1rem;
    padding-left: 0.75rem;
}

.tg {
  word-wrap: normal;
}

.imgicon {
  top: 5px;
  position: relative;
  margin-right: 2px;
  width: 20px;
  height: 20px;
}

.nowrap {
  white-space: nowrap;
}

.imgiconpng {
  top: 5px;
  position: relative;
  float: left;
  margin-right: 5px;
}

.diagram {
  max-width: 400px;
  float: right;
}

text > a {
  text-decoration: underline !important;
}

.content-box {
    columns: 2 auto;
}

.excalidraw {
  margin-bottom: 10px;
}

html[data-theme='dark'] .excalidraw {
  filter: invert(100%) hue-rotate(180deg);
}

html[data-theme='dark'] .diagram {
  filter: invert(100%) hue-rotate(180deg);
  float: right;
}

html[data-theme='dark'] .navbar__logo {
  filter: invert(100%) hue-rotate(180deg);
}

.screen-reader-only {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: polygon(0 0, 0 0, 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.roadmap {
    --ifm-container-width-xl: 1600px;
}

.menu__list .menu__list .menu__link {
    font-size: 13px;
}

.menu__list .menu__list-item-collapsible .menu__link {
    font-size: 15px;
}

#__docusaurus .theme-doc-sidebar-menu.menu__list .menu__link--active:before {
    background-color: #1890ff;
    border-radius: 4px;
    content: '' !important;
    display: block !important;
    height: 4px;
    left: 2px;
    pointer-events: none;
    position: absolute !important;
    top: 14px;
    width: 4px;
}

.theme-doc-sidebar-item-category.theme-doc-sidebar-item-category-level-1.menu__list-item.disabled-category
.menu__list-item-collapsible {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;
}

.theme-doc-sidebar-item-category.theme-doc-sidebar-item-category-level-2.menu__list-item.disabled-category
.menu__list-item-collapsible {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;
}

.disabled-page {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;
}

/*** mermaid ***/

#graph-div{font-family:"trebuchet ms",verdana,arial,sans-serif;font-size:16px;fill:#000000;}#graph-div .error-icon{fill:#552222;}#graph-div .error-text{fill:#552222;stroke:#552222;}#graph-div .edge-thickness-normal{stroke-width:2px;}#graph-div .edge-thickness-thick{stroke-width:3.5px;}#graph-div .edge-pattern-solid{stroke-dasharray:0;}#graph-div .edge-pattern-dashed{stroke-dasharray:3;}#graph-div .edge-pattern-dotted{stroke-dasharray:2;}#graph-div .marker{fill:#666;stroke:#666;}#graph-div .marker.cross{stroke:#666;}#graph-div svg{font-family:"trebuchet ms",verdana,arial,sans-serif;font-size:16px;}#graph-div .edge{stroke-width:3;}#graph-div .section--1 rect,#graph-div .section--1 path,#graph-div .section--1 circle,#graph-div .section--1 polygon,#graph-div .section--1 path{fill:#555;}#graph-div .section--1 text{fill:#F4F4F4;}#graph-div .node-icon--1{font-size:40px;color:#F4F4F4;}#graph-div .section-edge--1{stroke:#555;}#graph-div .edge-depth--1{stroke-width:17;}#graph-div .section--1 line{stroke:#aaaaaa;stroke-width:3;}#graph-div .disabled,#graph-div .disabled circle,#graph-div .disabled text{fill:lightgray;}#graph-div .disabled text{fill:#efefef;}#graph-div .section-0 rect,#graph-div .section-0 path,#graph-div .section-0 circle,#graph-div .section-0 polygon,#graph-div .section-0 path{fill:#F4F4F4;}#graph-div .section-0 text{fill:calculated;}#graph-div .node-icon-0{font-size:40px;color:calculated;}#graph-div .section-edge-0{stroke:#F4F4F4;}#graph-div .edge-depth-0{stroke-width:14;}#graph-div .section-0 line{stroke:#0b0b0b;stroke-width:3;}#graph-div .disabled,#graph-div .disabled circle,#graph-div .disabled text{fill:lightgray;}#graph-div .disabled text{fill:#efefef;}#graph-div .section-1 rect,#graph-div .section-1 path,#graph-div .section-1 circle,#graph-div .section-1 polygon,#graph-div .section-1 path{fill:#555;}#graph-div .section-1 text{fill:#F4F4F4;}#graph-div .node-icon-1{font-size:40px;color:#F4F4F4;}#graph-div .section-edge-1{stroke:#555;}#graph-div .edge-depth-1{stroke-width:11;}#graph-div .section-1 line{stroke:#aaaaaa;stroke-width:3;}#graph-div .disabled,#graph-div .disabled circle,#graph-div .disabled text{fill:lightgray;}#graph-div .disabled text{fill:#efefef;}#graph-div .section-2 rect,#graph-div .section-2 path,#graph-div .section-2 circle,#graph-div .section-2 polygon,#graph-div .section-2 path{fill:#BBB;}#graph-div .section-2 text{fill:calculated;}#graph-div .node-icon-2{font-size:40px;color:calculated;}#graph-div .section-edge-2{stroke:#BBB;}#graph-div .edge-depth-2{stroke-width:8;}#graph-div .section-2 line{stroke:#444444;stroke-width:3;}#graph-div .disabled,#graph-div .disabled circle,#graph-div .disabled text{fill:lightgray;}#graph-div .disabled text{fill:#efefef;}#graph-div .section-3 rect,#graph-div .section-3 path,#graph-div .section-3 circle,#graph-div .section-3 polygon,#graph-div .section-3 path{fill:#777;}#graph-div .section-3 text{fill:calculated;}#graph-div .node-icon-3{font-size:40px;color:calculated;}#graph-div .section-edge-3{stroke:#777;}#graph-div .edge-depth-3{stroke-width:5;}#graph-div .section-3 line{stroke:#888888;stroke-width:3;}#graph-div .disabled,#graph-div .disabled circle,#graph-div .disabled text{fill:lightgray;}#graph-div .disabled text{fill:#efefef;}#graph-div .section-4 rect,#graph-div .section-4 path,#graph-div .section-4 circle,#graph-div .section-4 polygon,#graph-div .section-4 path{fill:#999;}#graph-div .section-4 text{fill:calculated;}#graph-div .node-icon-4{font-size:40px;color:calculated;}#graph-div .section-edge-4{stroke:#999;}#graph-div .edge-depth-4{stroke-width:2;}#graph-div .section-4 line{stroke:#666666;stroke-width:3;}#graph-div .disabled,#graph-div .disabled circle,#graph-div .disabled text{fill:lightgray;}#graph-div .disabled text{fill:#efefef;}#graph-div .section-5 rect,#graph-div .section-5 path,#graph-div .section-5 circle,#graph-div .section-5 polygon,#graph-div .section-5 path{fill:#DDD;}#graph-div .section-5 text{fill:calculated;}#graph-div .node-icon-5{font-size:40px;color:calculated;}#graph-div .section-edge-5{stroke:#DDD;}#graph-div .edge-depth-5{stroke-width:-1;}#graph-div .section-5 line{stroke:#222222;stroke-width:3;}#graph-div .disabled,#graph-div .disabled circle,#graph-div .disabled text{fill:lightgray;}#graph-div .disabled text{fill:#efefef;}#graph-div .section-6 rect,#graph-div .section-6 path,#graph-div .section-6 circle,#graph-div .section-6 polygon,#graph-div .section-6 path{fill:#FFF;}#graph-div .section-6 text{fill:calculated;}#graph-div .node-icon-6{font-size:40px;color:calculated;}#graph-div .section-edge-6{stroke:#FFF;}#graph-div .edge-depth-6{stroke-width:-4;}#graph-div .section-6 line{stroke:#000000;stroke-width:3;}#graph-div .disabled,#graph-div .disabled circle,#graph-div .disabled text{fill:lightgray;}#graph-div .disabled text{fill:#efefef;}#graph-div .section-7 rect,#graph-div .section-7 path,#graph-div .section-7 circle,#graph-div .section-7 polygon,#graph-div .section-7 path{fill:#DDD;}#graph-div .section-7 text{fill:calculated;}#graph-div .node-icon-7{font-size:40px;color:calculated;}#graph-div .section-edge-7{stroke:#DDD;}#graph-div .edge-depth-7{stroke-width:-7;}#graph-div .section-7 line{stroke:#222222;stroke-width:3;}#graph-div .disabled,#graph-div .disabled circle,#graph-div .disabled text{fill:lightgray;}#graph-div .disabled text{fill:#efefef;}#graph-div .section-8 rect,#graph-div .section-8 path,#graph-div .section-8 circle,#graph-div .section-8 polygon,#graph-div .section-8 path{fill:#BBB;}#graph-div .section-8 text{fill:calculated;}#graph-div .node-icon-8{font-size:40px;color:calculated;}#graph-div .section-edge-8{stroke:#BBB;}#graph-div .edge-depth-8{stroke-width:-10;}#graph-div .section-8 line{stroke:#444444;stroke-width:3;}#graph-div .disabled,#graph-div .disabled circle,#graph-div .disabled text{fill:lightgray;}#graph-div .disabled text{fill:#efefef;}#graph-div .section-9 rect,#graph-div .section-9 path,#graph-div .section-9 circle,#graph-div .section-9 polygon,#graph-div .section-9 path{fill:#999;}#graph-div .section-9 text{fill:calculated;}#graph-div .node-icon-9{font-size:40px;color:calculated;}#graph-div .section-edge-9{stroke:#999;}#graph-div .edge-depth-9{stroke-width:-13;}#graph-div .section-9 line{stroke:#666666;stroke-width:3;}#graph-div .disabled,#graph-div .disabled circle,#graph-div .disabled text{fill:lightgray;}#graph-div .disabled text{fill:#efefef;}#graph-div .section-10 rect,#graph-div .section-10 path,#graph-div .section-10 circle,#graph-div .section-10 polygon,#graph-div .section-10 path{fill:#777;}#graph-div .section-10 text{fill:calculated;}#graph-div .node-icon-10{font-size:40px;color:calculated;}#graph-div .section-edge-10{stroke:#777;}#graph-div .edge-depth-10{stroke-width:-16;}#graph-div .section-10 line{stroke:#888888;stroke-width:3;}#graph-div .disabled,#graph-div .disabled circle,#graph-div .disabled text{fill:lightgray;}#graph-div .disabled text{fill:#efefef;}#graph-div .section-root rect,#graph-div .section-root path,#graph-div .section-root circle,#graph-div .section-root polygon{fill:hsl(0, 0%, 70.6862745098%);}#graph-div .section-root text{fill:#333;}#graph-div .icon-container{height:100%;display:flex;justify-content:center;align-items:center;}#graph-div .edge{fill:none;}#graph-div :root{--mermaid-font-family:"trebuchet ms",verdana,arial,sans-serif;}

#graph-div a {
    text-decoration: underline;
}
